<masonry [options]="myOptions">
  <masonry-brick class="brick col-lg-4 col-md-6" *ngFor="let brick of bricks" [style.height]="brick.height + 'px'">
    <a [href]="brick.github || brick.demo" target="_blank">
      <div class="brick-image" [style.background-image]="'url(' + brick.image + ')'">
      </div>
      <div class="brick-title-container" [style.height]="brick.height + 'px'">
        <div class="brick-title">
          <h2>{{brick.title}}</h2>
          <h3>{{brick.date}}</h3>
        </div>
      </div>
    </a>
  </masonry-brick>
</masonry>